<launch>
  <arg name="ssl" default="false" />
  <arg name="certfile" />
  <arg name="keyfile" />
  <arg name="authentication_method" />
  <arg name="webserver_uri" default="ws://localhost:9090" />
  <arg name="proxy_name" default="$(anon default_name)"/>
  <group if="$(arg ssl)">
    <node name="rosbridge_websocket_client" pkg="rosbridge_server" type="rosbridge_websocket_client" output="screen">
      <param name="certfile" value="$(arg certfile)" />
      <param name="keyfile" value="$(arg keyfile)" />
      <param name="authentication_method" value="$(arg authentication_method)" />
      <param name="port" value="$(arg port)"/>
      <param name="address" value="$(arg address)"/>
      <param name="webserver_uri" value="$(arg webserver_uri)"/>
      <param name="proxy_name" value="$(arg proxy_name)"/>
    </node>
  </group>
  <group unless="$(arg ssl)">
    <node name="rosbridge_websocket_client" pkg="rosbridge_server" type="rosbridge_websocket_client" output="screen">
      <param name="authentication_method" value="$(arg authentication_method)" />
      <param name="webserver_uri" value="$(arg webserver_uri)"/>
      <param name="proxy_name" value="$(arg proxy_name)"/>
    </node>
  </group>
</launch>
